table {
  border-collapse: collapse;
}

.cell {
  width: 150px;
  height: 150px;
  background-position: center;
  object-fit: scale-down;
}

#titre {
  left: 0px;
  top: 0px;
  text-align: center;
  width: 100%;
  display: block;
  font-family: "Lobster", cursive;
  font-size: 80px;
  padding-top: 20px;
  color: black;
}

#win {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 50px;
  padding-top: 15px;
  color: black;
}

#cell_00 {
  border-right: solid 10px black;
  border-bottom: solid 10px black;
}

#cell_01 {
  border-right: solid 10px black;
  border-bottom: solid 10px black;
  border-left: solid 10px black;
  background-position: center; /* ligne à supprimer */
}

#cell_02 {
  border-bottom: solid 10px black;
  border-left: solid 10px black;
  background-position: right; /* ligne à supprimer */
}

#cell_10 {
  border-right: solid 10px black;
  border-bottom: solid 10px black;
  border-top: solid 10px black;
}

#cell_11 {
  border: solid 10px black;
}

#cell_12 {
  border-left: solid 10px black;
  border-bottom: solid 10px black;
  border-top: solid 10px black;
}

#cell_20 {
  border-right: solid 10px black;
  border-top: solid 10px black;
}

#cell_21 {
  border-right: solid 10px black;
  border-left: solid 10px black;
  border-top: solid 10px black;
}

#cell_22 {
  border-left: solid 10px black;
  border-top: solid 10px black;
}

.jeu {
  margin-top: 50px;
  text-align: center;
}

#center {
  margin-left: auto;
  margin-right: auto;
}

#reset_zone,
#undo_zone,
#level_btn_zone {
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn {
  margin-bottom: 20px;
  padding: 20px;
  font-family: "Lobster", cursive;
  font-size: 80px;
  background-color: #c3c2c2;
  border-radius: 20px;
  border: none;
}
